.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
color: #008CBA;
text-align: center;
border: 5px dotted;
border-color: #008CBA;
padding: 32px;
border-radius: 8px;
}

.gameButton {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
}

#rock {
color: white;
background-color: #008CBA;
padding: 32px;
font-size: 20px;
border-radius: 8px;
border: none;

}

#paper {
color: white;
background-color: #008CBA;
padding: 32px;
font-size: 20px;
border-radius: 8px;
border: none;
}

#scissors {
    color: white;
background-color: #008CBA;
padding: 32px;
font-size: 20px;
border-radius: 8px;
border: none;
}