.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
color: #008CBA;
text-align: center;
border: 5px dotted;
border-color: #008CBA;
padding: 32px;
border-radius: 8px;
}

.gameButtons {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
}

.gameButtons button{
    color: white;
    background-color: #008CBA;
    padding: 32px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
color: #008CBA;
text-align: center;
border: 5px dotted;
border-color: #008CBA;
padding: 32px;
border-radius: 8px;
}

.gameButtons {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
}

.gameButtons button{
    color: white;
    background-color: #008CBA;
    padding: 32px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.gameButtons button:hover{
  background-color:#28c5f9
}

#playerChoice, #computerChoice{
    font-size: 20px;
    font-weight: bold;
    color: #008CBA;
  }
  #gameResult{
    font-size:30px;
    font-weight: bold;
    color: #008CBA;
  }
  